#sign-in-container,#sign-in-container *{box-sizing:border-box}
/*
     FILE ARCHIVED ON 00:19:48 Nov 27, 2017 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 06:03:44 Mar 17, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.64
  exclusion.robots: 0.078
  exclusion.robots.policy: 0.065
  esindex: 0.01
  cdx.remote: 12.03
  LoadShardBlock: 809.748 (3)
  PetaboxLoader3.resolve: 780.744 (5)
  PetaboxLoader3.datanode: 1141.212 (5)
  load_resource: 1205.993 (2)
*/