section.workflow .bigNum,section.workflow .wf-desc,section.workflow img{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;float:left;padding:0 0.5em}section.workflow:before,section.workflow:after{content:" ";display:table}section.workflow:after{clear:both}section.workflow .bigNum{width:12.5%;font:"Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif;font-size:85px;line-height:1em;color:#007AC2}@media screen and (max-width: 960px){section.workflow .bigNum{font-size:50px;width:8.33333%;margin-top:0em}}@media screen and (max-width: 480px){section.workflow .bigNum{font-size:1.5em;width:4.16667%}}section.workflow .wf-desc{width:50%}@media screen and (max-width: 960px){section.workflow .wf-desc{width:83.33333%}}@media screen and (max-width: 480px){section.workflow .wf-desc h3{line-height:1.6em}}section.workflow img{width:37.5%}@media screen and (max-width: 960px){section.workflow img{margin-left:8.33333%;width:50%}}@media screen and (max-width: 662px){section.workflow img{width:75%}}@media screen and (max-width: 480px){section.workflow img{margin-left:4.16667%;width:95.83333%}}section.workflow .videoLink{max-width:none;display:inline}hr{margin-top:3em;margin-bottom:3em}.serviceMark{font-size:x-small;position:relative;top:-1.75em}
/*
     FILE ARCHIVED ON 06:37:31 Jan 16, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:48:01 Mar 17, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 1.368
  exclusion.robots: 0.117
  exclusion.robots.policy: 0.092
  esindex: 0.022
  cdx.remote: 36.458
  LoadShardBlock: 233.675 (3)
  PetaboxLoader3.datanode: 277.642 (4)
  load_resource: 430.156
  PetaboxLoader3.resolve: 345.038
*/